.card {
  position: absolute;
  flex-direction: row;
  flex-direction: col;
  right: 50%;
  left: 50%;
  bottom: 15%;
  align-items: center;
  background: transparent;
  border: none;
  height: 50px;
  width: 600px;
}

.card-img {
  width: 20%;
  height: auto;
}

.card-text {
  color: rgb(82, 80, 80);
  font-weight: bold;
  font-size: auto;
}
