<div class="row">
    <div class="card">
        <img class="card-img" src={{image}}>
        <div class="card-body">
            <div class="card-body">
                <p class="card-text">Old MacDonald had a farm, E I E I O,</p>
                <p class="card-text">on his farm he had a <b>{{breed}}</b>, E I E I O.</p>
                <p class="card-text">a <b>{{sound}} {{sound}}</b> here and a <b>{{sound}} {{sound}}</b> there,
                </p>
                <p class="card-text">Here a <b>{{sound}}</b>, there a <b>{{sound}}</b>, ev'rywhere a <b>{{sound}}
                        {{sound}}</b></p>
                <p class="card-text">Old MacDonald had a farm, E I E I O</p>
            </div>
        </div>
    </div>
</div>