div {
  justify-content: center;
  text-align: center;
}

.col {
  display: block;
  justify-content: center;
  text-align: center;
}

h1 {
  color: rgb(228, 96, 19);
  font-weight: bold;
}

h5 {
  color: rgb(253, 250, 249);
  font-weight: bold;
}