.flexbox-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-item {
  text-align: center;
}

h1 {
  color: rgb(241, 87, 87);
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

a {
  color: whitesmoke;
}

a:hover {
  color: rgb(241, 87, 87);
}
