<div class="card">
    <img class="card-img" src={{data.image}}>
    <div class="card-body">
        <div class="card-body">
            <p class="card-text"><b>Old MacDonald had a farm, E I E I O,</b></p>
            <p class="card-text"><b>on his farm he had a {{data.breed}}, E I E I O.</b></p>
            <p class="card-text"><b>a {{data.sound}} {{data.sound}} here and a {{data.sound}} {{data.sound}} there,</b>
            </p>
            <p class="card-text"><b>Here a {{data.sound}}, there a {{data.sound}}, ev'rywhere a {{data.sound}}
                    {{data.sound}}</b></p>
            <p class="card-text"><b>Old MacDonald had a farm, E I E I O</b></p>
        </div>
    </div>
</div>