.form-control {
  background: transparent;
  border: 2px solid yellow;
}

div,
button {
  color: rgb(228, 68, 19);
  font-size: 16px;
  text-align: left;
}

button:hover {
  color: rgb(228, 68, 19);
}

input,
select,
textarea {
  color: rgb(228, 68, 19);
  font-size: x-large;
  font-weight: bold;
}

textarea:focus,
input:focus {
  color: whitesmoke;
}
