.form-control {
  background: transparent;
  border: 2px solid yellow;
}

.form-group{
  width: 30%;
}

div,
button {
  color: rgb(228, 68, 19);
  font-size: 13px;
  text-align: left;
}

button:hover {
  color: whitesmoke;
}

input {
  color: whitesmoke;
  font-size: medium;
  font-weight: bold;
}

input:focus {
  color: rgb(228, 68, 19);
}

input::placeholder{
  font-size: medium;
}
