<div class="row">
    <div class="col-lg-5">
        <form [formGroup]="form" (ngSubmit)="create()">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="breed" placeholder="Breed">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="sound" placeholder="Sound">
            </div>
            <button class="btn btn-warning" type="submit">Add Animal</button>
        </form>
    </div>
</div>