<div class="row">
    <div class="ml-1 mt-2">
        <a routerLink="/" class="btn btn-warning">Back to home</a>
    </div>
    <div class="ml-2">
        <audio controls autoplay loop>
            <source src="../assets//mp3//custom.mp3" type="audio/ogg">
        </audio>
    </div>
    <div class="m-3">
        <h5>Welcome to your own farm</h5>
    </div>
</div>

<div>
    <custom-create></custom-create>
</div>


<div class="animalList">
    <ul *ngFor="let animal of animals">
        <li><b>{{animal.breed}}</b></li>
    </ul>
</div>


<farm *ngIf="animals.length > 0" [animals]="animals"></farm>