.flexbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-item lyrics{
  flex-grow: 1;
  align-items: flex-end;
}

a {
  color: rgb(228, 96, 19);
}

a:hover {
  color: whitesmoke;
}
