html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  text-align: bottom;
  background-image: url("./assets/images/farm.png");
  background-repeat: no-repeat;
  background-size: cover;
}
